<%- include ('partials/header') -%>
<div style="text-align: center;">
    <h1>Introduction</h1>
    <p>Hello friends, My name is Soumen Nath and i am from Assam, India. <br>
        I was graduate from college with B.COM Degree.<br>
        Since i have greate passion for computer secience so i started to learn basic full stack web development.<br>
        This one is my first project.
    </p>
</div>


<%- include ('partials/footer') -%>