<%- include ('partials/header') -%>
<div style="text-align: center;">  
    <div>
        
        <div>
            <hr>
            <h2>
                Contact Information
            </h2>
            <p>
                Name: Soumen Nath ,<br>
                Email: saumennath29@gmail.com ,<br>
                Country: India ,<br>
                State : Assam

            </p>
        </div>


    </div>    
</div>


<%- include ('partials/footer') -%>