<%- include ('partials/header') -%>
<div style="text-align: center;">
    <div>
        <nav>
            <h1><%= data.title %></h1>
        </nav>
        
        <p><em><%= data.doc%></em></p>
    </div>
    <div>
        <form action="" method="post">
            <button type="submit">delete</button>
        </form>
    
    </div>
    
</div>


<%- include ('partials/footer') -%>